[control_plane]
control ansible_host=$CONTROL_HOST_IP ansible_user=ucloud

[workers]
worker0 ansible_host=$WORKER_0_IP ansible_user=ucloud
worker1 ansible_host=$WORKER_1_IP ansible_user=ucloud

[k8s-cluster:children]
control_plane
workers

[k8s-cluster:vars]
tailscale_login_server=$LOGIN_SERVER
minio_bucket=$MINIO_BUCKET
minio_host=$MINIO_HOST
minio_user=$MINIO_USER
minio_password=$MINIO_PASSWORD
minio_mount_point=$MINIO_MOUNT_POINT